.header {
  display: flex;
  height: 12.5rem;
  width: 100%;
  background: var(--gray-700);
}

.logo {
  margin: auto;
  display: flex;
  align-items: center;
}

.logo img {
  width: 1.375rem;
  height: 2.25rem;
  margin-bottom: -0.5rem;
  margin-right: 0.75rem;
}

.logoText {
  font-size: 2.5rem;
  font-weight: 900;
}

.logoText .colorBlue {
  color: var(--blue-300);
}
.logoText .colorPurple {
  color: var(--purple-500);
}