.taskListContainer {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 2rem;
}

.newTask {
  width: 100%;
  display: flex;
  gap: .5rem;
  height: 3.3rem;
  margin-top: -1.65rem;
}

.newTask input {
  flex: 1;
  background: var(--gray-500);
  color: var(--gray-100);
  border: 1px solid var(--gray-700);
  padding: 1.25rem;
  border-radius: 8px;
}

.newTask input:-moz-placeholder {
  color: var(--gray-300);
}

.newTask button {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 8px;
  border: 0;
  color: var(--gray-100);
  background: var(--blue-500);
  transition: 0.15s;
}

.newTask button:hover {
  background: var(--blue-300);
}

.newTask button svg {
  margin-left: .5rem;
  width: 1rem;
  height: 1rem;
}

.taskStatus {
  margin: 4rem 0 1.5rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
}

.taskStatus .colorBlue {
  color: var(--blue-300);
}

.taskStatus .colorPurple {
  color: var(--purple-500);
}

.taskStatus strong span {
  color: var(--gray-200);
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;
  margin-left: 0.5rem;
  background: var(--gray-400);
  border-radius: 9999px;

}

.tasks {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.withoutTasks {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  line-height: 1.4rem;
  padding-top: 4rem;
  border-top: 1px solid var(--gray-400);
}

.withoutTasks img {
  height: 3.5rem;
  width: 3.5rem;
  margin-bottom: 1rem;
}