.task {
  flex: 1;
  display: flex;
  padding: 1rem;
  background: var(--gray-400);
  border-radius: 8px;
}

.task input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.task label {
  display: flex;
  cursor: pointer;
}

.task .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.1rem;
  width: 1.1rem;
  margin: 0.2rem .95rem 0.2rem 0.2rem;
  background: transparent;
  border: 2px var(--blue-300) solid;
  border-radius: 100%;
  transition: 0.1s;
}

.task .checkbox:hover{
  border-color: var(--blue-500);
}

.task .checkbox svg {
  font-size: 0.7rem;
  color: transparent;
}

.task .checkboxActive {
  border-color: var(--purple-500);
  background: var(--purple-500);
}

.task .checkboxActive:hover {
  border-color: var(--purple-300);
    background: var(--purple-300);
}

.task .checkboxActive svg {
  color: var(--gray-100);
}

.task label p {
  font-size: 0.875rem;
  line-height: 1.225rem;
}
.task label p.taskCompleted {
  color: var(--gray-300);
  text-decoration: line-through;
}

.task button {
  display: flex;
  height: fit-content;
  background: transparent;
  border: 0;
  margin-left: .75rem;
  line-height: 0;
  font-size: 0,875rem;
  color: var(--gray-300);
  border-radius: 4px;
}

.task button:hover {
  color: var(--red-500);
}

.task button svg {
  margin: 0.35rem;
}

